.logo-text {
  color: var(--color-primary-light);
  font-size: 1.1rem;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.logo-dot {
  color: #e74c3c;
  font-size: 1.1rem;
  font-weight: 800;
}

.logo-ar {
  color: var(--color-primary);
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}


.custom-navbar {
  background-color: var(--color-background);
  border-bottom: 3px solid var(--color-primary);
}

.logo-link{
  display: flex;
  justify-content: center; 
  align-items: center;  
  justify-items: center;
}