.logo-text {
  color: #3498db;
  font-size: 1.1rem;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.logo-dot {
  color: #e74c3c;
  font-size: 1.1rem;
  font-weight: 800;
}

.logo-ar {
  color: #F6F4F0;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.05em;
}


.custom-navbar {
  background-color: var(--navbar-bg);
  border-bottom: 3px solid var(--navbar-border);
}

.logo-link{
  display: flex;
  justify-content: center; 
  align-items: center;  
  justify-items: center;
}