.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #020618;
}

.buttoms{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 500px;
}

.ini{
  color: black;
  background-color: #F6F4F0;
  width: 150px;
  margin: 2px;
}

.reg{
  background-color: #3498db;
  width: 150px;
  margin: 2px;
}