@import 'tailwindcss';
@plugin './../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  /* --color-primary: #1B262C; */
  --color-primary: #3282B8;
  --color-secondary: #496A7C;
  --color-secondary-light: #ACE2FF;
  --color-background: #1B262C;
  --color-foreground: #F6F4F0;
  --color-foreground-dark: #B3B3B3;

  --font-sans: 'Sans', sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-foreground);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100%;
  background-color: var(--color-background);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

}
